@mixin desktop {
  @media (min-width: 641px) {
    @content;
  }
}

body {
  margin: 0; 
  padding: 0;
  font-family: 'system-ui', 'BlinkMacSystemFont', '-apple-system', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif';
  background: white url("assets/map.png") no-repeat;
  background-size: cover;
  color: #606F7B;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;

  width: 100vw;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;

  @include desktop {
    height: 100vh;
    font-size: 24px;
    text-align: left;
  }
}

a {
  color: #606F7B;
  text-decoration: none;
}

h1 {
  color: #22292f;
  font-size: 2em;
}

ul {
  padding: 0;
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

main {
  flex: 1;  
  display: flex;
  background: rgba(248,250,252,0.8);
  min-height: 600px;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
    }
  }

  .text { 
    padding: 4em 0 2em 0;

    @include desktop { flex: 1; }
  }  
}

.device {
    flex: 1;
    text-align: center;

    img {
      transform: rotate(10deg);
      max-width: 60%;
      max-height: 80vh;

      @include desktop {
        transform: translateY(30px) rotate(10deg);
        max-width: 100%;
        min-width: 244px;
        min-height: 488px;
      }
    }
  }

.btn {
  display: inline-block;
  padding: 0.8em 1.2em;
  border-radius: 10px;
  background: black;
  color: white;
  
  @include desktop {
    margin: 1em 0 0 0;
  }
}

.btn-download {
  margin: 0 auto;
  display: block;
  width: 192px;
  height: 64px;
  background: url('assets/download.png') no-repeat;
  background-size: contain;
  overflow: hidden;
  text-indent: -9999px;
  color: transparent;

  @include desktop {
    margin: 2em 0 0 0;
  }
}

.icon {
  max-width: 100px;
}

footer {
  font-size: 0.8em;
  background: white;

  ul { 
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    
    @include desktop {
      justify-content: inherit;
    }
  }
  li { 
    margin: 1em; 
    
    @include desktop {
      margin: 1em 2em 1em 0;
    }
  }
}
